ENV_TYPE=development
LANGUAGE=en # or pt currently
MODE=aws # or ibm
DISCORD_PREFIX=gpt!

POSTGRES_DB=telegram_chatgpt_development # or your database
POSTGRES_USER=postgres # or your user
POSTGRES_PASSWORD=postgres # or your password

IBM_API_KEY=Your IBM API Key
IBM_URL=Your IBM Text to Speech URL
TELEGRAM_TOKEN=Your Telegram Bot Token
OPENAI_API_KEY=Your OpenAI API Key
AWS_ACCESS_KEY=Your AWS Access Key
AWS_SECRET_ACCESS_KEY=Your AWS Secret Access Key
AWS_REGION=Your AWS Region
DISCORD_CLIENT_ID=Your Discord Client ID
DISCORD_TOKEN=Your Discord Token