/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.workflow_secrets
.rspec_status
.env
.env_test

/logs/telegram_chatgpt.log
/voice/audio*
/voice/ibm*
/voice/polly*
/voice/aws*
/db_data
/db_data/*
/chatgpt_assistant.code-workspace
/redis_data
/redis_data/*
/.vscode
