/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.workflow_secrets
.rspec_status
.env

/logs/telegram_chatgpt.log
/voice/audio*
/voice/ibm*
/voice/polly*
/voice/aws*
/db_data
/db_data/*
